input { 
  margin-bottom: 12px;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(139, 134, 134, 0.3);
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  border-style: solid;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  width: 148px;
}
.email {
  display: block;
  width: 334px;
}
button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(47, 127, 231);
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: 366px;
  
}